<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= htmlWebpackPlugin.options.title || 'Not Working' %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    </head>
    <body>
        <div id="root"></div>

        <% if (htmlWebpackPlugin.options.window) { %>
            <script>
                <% for (var varName in htmlWebpackPlugin.options.window) { %>
                    window['<%=varName%>'] =
                    <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
                <% } %>
            </script>
        <% } %>

        <% if (htmlWebpackPlugin.options.devServer) { %>
            <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
        <% } %>
    </body>
</html>
